{%extends 'template.html'%}

{%block content%}
<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">导出数据</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    导出选项
                </div>
                <div class="panel-body">
                    <form role="form" action="/assets/export/" method="post">
                        <div class="form-group">
                            <label class="checkbox-inline"><input type="checkbox" name="device" id="device">物理设备</label>
                            <label class="checkbox-inline"><input type="checkbox" name="platform" id="platform">业务平台</label>
                            <label class="checkbox-inline"><input type="checkbox" name="host" id="host">主机清单</label>
                            <label class="checkbox-inline"><input type="checkbox" name="application" id="application">应用清单</label>
                            <label class="checkbox-inline"><input type="checkbox" name="ipPool" id="ipPool">IP资源池</label>
                            <label class="checkbox-inline"><input type="checkbox" name="assignedIp" id="assignedIp">IP清单</label>
                            <label class="checkbox-inline"><input type="checkbox" name="vip" id="vip">VIP清单</label>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-warning btn-sm" type="button" id="unset_all">重置</button>
                            <button class="btn btn-info btn-sm" type="button" id="set_all">全选</button>
                            <button class="btn btn-primary btn-sm" type="submit" id="export_data">导出</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{#    <div class="row">#}
{#        <div class="col-lg-12">#}
{#            <div class="panel panel-default">#}
{#                <div class="panel-heading">#}
{#                    导出结果#}
{#                </div>#}
{#                <div class="panel-body">#}
{#                    <p>物理设备: <span id="device_result"></span></p>#}
{#                    <p>业务平台: <span id="platform_result"></span></p>#}
{#                    <p>主机清单: <span id="host_result"></span></p>#}
{#                    <p>应用清单: <span id="application_result"></span></p>#}
{#                    <p>IP资源池: <span id="ipPool_result"></span></p>#}
{#                    <p>IP清单: <span id="assignedIp_result"></span></p>#}
{#                    <p>VIP清单: <span id="vip_result"></span></p>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
</div>
{%endblock%}
{%block bodyjs%}
    {{ django_context_varable }}
    <script src="/static/js/export.js"></script>
{%endblock%}
{%block css%}
{%endblock%}
