<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>运维CMDB系统</title>

    <!-- Bootstrap Core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="/static/css/metisMenu.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/static/css/sb-admin-2.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/static/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- 公司logo -->
    <link rel="shortcut icon" href="/static/img/logo.png?v=c2b4bd66tk78669211fsdf5655942aa8cb33e"
          type="image/x-icon">

    <link href="/static/css/select2.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="/static/js/jquery.js"></script>
    <script type="text/javascript" src="/static/js/select2.min.js"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><span style="color:blue">登录名（拼音）找回密码</span></h3>
                    </div>
                    <div class="panel-body">
                        <!--<form role="form">-->
                            <fieldset>
                                <div class="alert alert-danger alert-dismissable" id='upload-notify'>
                                    <!--<button type="button"></button>-->
                                    <label id='lb-msg-upload'></label>
                                </div>
                                <div class="form-group input-group">
                                    <span class="input-group-addon" id="basic-addon2">输入登录名</span>
                                    <input type="text" class="form-control" placeholder="zhangsan" aria-describedby="basic-addon2" id='email'>
                                    <!--<span class="input-group-addon" id="basic-addon2">@forcegames.cn</span>-->
                                </div>

                                <div class="alert alert-info alert-dismissable" id='upload-notify2'>
                                    <!--<button type="button"></button>-->
                                    <label id='lb-msg-upload2'>邮件发送成功 点击进入<a href="https://exmail.qq.com/cgi-bin/loginpage?t=dm_loginpage&dmtype=bizmail&s=session_timeout"><span style="color:blue">企业邮箱</span></a>'</label>
                                    <label id='lb-msg-upload2'>企业微信发送成功 请查收</label>
                                </div>
                                
                                 <div class="form-group">
                                    <div class="alert alert-warning" role="alert">提示:只能使用谷歌或者火狐浏览器</div>
                                </div>
                                
                                <!-- Change this to a button or input when using this as a form -->
                                <button type="button"  id='send_mail' class="btn btn-lg btn-success btn-block">发送邮件/企业微信</button>
                            </fieldset>
                        <!--</form>-->
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Bootstrap Core JavaScript -->
    <script src="/static/js/bootstrap.min.js"></script>

    <script src="/static/js/jquery.json.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="/static/js/metisMenu.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="/static/js/sb-admin-2.js"></script>

    <!-- Custom Register JavaScript -->
    <script src="/static/js/forget_password.js?v=1435dfjg934hyoihjrg0d"></script>
    <script src="/static/js/common.js?v=20191111002"></script>

</body>

</html>
