{%extends 'template.html'%}

{%block username%}
{{head.username}}
{%endblock%}

{%block content%}
<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">{{head.value}}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="btn-group">
                        <a><button id='bt-add' type="button" class="btn btn-primary">增加</button></a>
                        <a><button id='bt-del' data-text="确定删除所选的游戏项目? 0个" type="button" class="btn btn-danger">删除</button></a>
                    </div>
                    <div class="pull-right">
                      <div class="btn-group">
                      </div>
                    </div>
                </div>
                <div class="panel-body">
                  <table id="mytable" class="display" width="100%" cellspacing="0">
                      <thead>
                          <tr>
                              <th class="center sorting_disabled">
                                <label class="pos-rel">
                                  <input id='chb-all' type="checkbox"/>
                                </label>
                              </th>
                              <th>id</th>
                              <th>项目名称</th>
                              <th>分组名称</th>
                              <th>分组负责人</th>
                              <th>部门分组</th>
                              <th>操作</th>
                          </tr>
                      </thead>
                  </table>
                </div>
            </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="myModal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel"></h4>
              </div>
              <div class="modal-body">
                <div class="alert alert-danger alert-dismissable" id='modal-notify'>
                  <button type="button" class="close" id="bt-modal-notify">&times;</button>
                  <label id='lb-msg'></label>
                </div>
                <form class="form-horizontal" role="form">
                  <div class="form-group" id='show_id'>
                      <label class="col-sm-3 control-label">id</label>
                      <div class="col-sm-8">
                        <input type="text" class="form-control " placeholder="" id="id">
                      </div>
                  </div>
                  <div class="form-group">
                      <label class="col-sm-3 control-label">项目分组</label>
                      <div class="col-sm-8">
                        <input type="text" class="form-control" placeholder="" id="name">
                      </div>
                  </div>
                  <div class="form-group">
                      <label class="col-sm-3 control-label">项目分组组长</label>
                      <div class="col-sm-8">
                        <select class="form-control" id="project_group_leader" style="width: 100%">
                          <option value="0" selected="selected">选择组长</option>
                        </select>
                      </div>
                  </div>
                  <div class="form-group">
                      <label class="col-sm-3 control-label">部门分组</label>
                      <div class="col-sm-8">
                        <select class="form-control" id="group_section" style="width: 90%">
                          <option value="0" selected="selected">部门分组</option>
                        </select>
                        <button id="reset_groupsection" type="button" class="btn btn-default btn-sm">x</button>
                      </div>
                  </div>
                </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button id='bt-save' type="button" class="btn btn-primary">保存</button>
              </div>
            </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
        <div class="modal fade" id="Modal-file" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">导入/导出</h4>
              </div>
              <div class="modal-body">
                <div class="alert alert-dismissable" id='upload-notify'>
                    <button type="button" class="close" id="bt-upload-notify">&times;</button>
                    <label id='lb-msg-upload'></label>
                </div>
                <form id="submit-file-form" enctype="multipart/form-data" action="/assets/upload_devices" method="post">
                  <!-- {% csrf_token %} -->
                <div class="form-group">
                  {{form}}
                  <p class="help-block">Example block-level help text here.</p>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="submit" class="btn btn-primary" name='action'>保存</button>
              </div>
              </form>
            </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->
        </div>
    </div>
</div>
{%endblock%}
{%block bodyjs%}
    <script src="/static/js/jquery.dataTables.js" ></script>
    {{ django_context_varable }}
    {% verbatim %}
    <script id="tpl" type="text/x-handlebars-template">
          {{#each func}}
          <button type="button" class="btn btn-{{this.type}} btn-sm" onclick="{{this.fn}}">{{this.name}}</button>
          {{/each}}
    </script>
    {% endverbatim %}
    <script src="/static/js/handlebars-v3.0.1.js"></script>
    <script src="/static/js/project_group_list.js?v=a71685d713d10d9023261903ed6947e582f6916c"></script>
    <script src="/static/js/dataTables.colVis.js"></script>
{%endblock%}
{%block css%}
<link href="/static/css/jquery.dataTables.css" rel="stylesheet" type="text/css">
<link href="/static/css/mycss.css" rel="stylesheet" type="text/css">
<link href="/static/css/dataTables.colVis.css" rel="stylesheet" type="text/css">
{%endblock%}
