<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>运维CMDB系统</title>

    <!-- Bootstrap Core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="/static/css/metisMenu.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/static/css/sb-admin-2.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/static/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <link href="/static/css/select2.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="/static/js/jquery.js"></script>
    <script type="text/javascript" src="/static/js/select2.min.js"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><span style="color:blue">注册一个新的帐号</span></h3>
                    </div>
                    <div class="panel-body">
                        <form role="form">
                            <fieldset>
                                <div class="alert alert-danger alert-dismissable" id='upload-notify'>
                                    <!--<button type="button"></button>-->
                                    <label id='lb-msg-upload'></label>
                                </div>
                                <div class="form-group">
                                    <p>中文用户名</p>
                                    <input class="form-control" placeholder="中文用户名：张三" name="username" id="username" autofocus>
                                </div>
                                <div class="form-group">
                                    <p>用户拼音</p>
                                    <input class="form-control" placeholder="zhangsan" name="username" id="first_name" autofocus>
                                </div>
                                <div class="form-group">
                                    <p>所在部门</p>
                                     <select id="add_group" style="width: 100%">
                                        <option selected="selected" value="0">选择部门</option>
                                    </select>
                                </div>
                                <div class="form-group show_project_group">
                                    <p>所在项目</p>
                                     <select id="add_game_project" style="width: 100%">
                                        <option selected="selected" value="0">选择项目</option>
                                    </select>
                                </div>
                                <div class="form-group show_project_group">
                                    <p>项目分组</p>
                                     <select id="project_group" style="width: 100%">
                                        <option selected="selected" value="0">选择项目分组</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <p>密码</p>
                                    <input class="form-control" placeholder="Password" id="password" type="password" value="">
                                </div>
                                 <div class="form-group">
                                    <div class="alert alert-warning" role="alert">提示:只能使用谷歌或者火狐浏览器</div>
                                </div>
                                <div class="checkbox hide">
                                    <label >
                                    <input type="checkbox" value="remember" name="remember">
                                    Remember Me
                                    </label>
                                </div>
                                <!-- Change this to a button or input when using this as a form -->
                                <button type="button"  id='register' class="btn btn-lg btn-success btn-block">注册用户</button>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Bootstrap Core JavaScript -->
    <script src="/static/js/bootstrap.min.js"></script>

    <script src="/static/js/jquery.json.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="/static/js/metisMenu.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="/static/js/sb-admin-2.js"></script>

    <!-- Custom Register JavaScript -->
    <script src="/static/js/register.js"></script>
    <script src="/static/js/common.js"></script>

</body>

</html>
