{% extends 'template.html' %}

{% block username %}
    {{ head.username }}
{% endblock %}

{% block content %}
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">{{ head.value }}</h1>
                <h1 class="page-header" id="wse_id" style="display: none;">{{ data.id }}</h1>
                <h1 class="page-header" id="ips_value" style="display: none;">{{ data.ips_value }}</h1>
                <h1 class="page-header" id="first_name" style="display: none;">{{ data.first_name }}</h1>
                <h1 class="page-header" id="ip_status" style="display: none;">{{ data.ip_status }}</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-green">
                    <div class="panel-heading">
                        <i class="fa fa-user fa-fw"></i> 申请人信息
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <form>
                                    <div class="form-row">
                                        <div class="form-group col-md-4">
                                            <label>申请人</label>
                                            <input type="text" class="form-control" readonly
                                                   value="{{ data.applicant }}">
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label>申请人部门</label>
                                            <input type="text" class="form-control" readonly
                                                   value="{{ data.one_group }}">
                                        </div>
                                        <!--<div class="form-group col-md-4">
                                            <label>申请人部门管理分组</label>
                                            <input type="text" class="form-control" readonly
                                                   value="{{ data.group_section }}">
                                        </div>-->
                                    </div>
                                    <div class="form-group col-md-12">
                                        <label for="inputAddress">注意事项</label>
                                        <div class="alert alert-danger" role="alert">
                                            请部门负责人注意申请人的部门和管理分组，不是自己部门的，或者部门内管理分组有错的，就拒绝，然后联系运维
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <i class="fa fas fa-info-circle fa-fw"></i> 申请信息
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-10">
                                <form role="form">
                                    <div class="form-group">
                                        <label>项目</label>
                                        <div>
                                            <input class="form-control" id="project" readonly
                                                   value={{ data.project_name }}></input>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>标题</label>
                                        <div>
                                            <input class="form-control" id="title" readonly
                                                   value={{ data.title }}></input>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>原因</label>
                                        <div>
                                            <textarea class="form-control" id="reason"
                                                      readonly>{{ data.reason }}</textarea>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="TextArea">key</label>
                                        <div>
                                            <textarea class="form-control" rows="7" id="key"
                                                      style="word-break: break-all" readonly>{{ data.key }}</textarea>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label>key类型</label>
                                        <div class="radio radio-danger radio-inline">
                                            {% if data.recommit %}
                                                {% if data.is_root %}
                                                    <input type="radio" id="is_root" value=true name="keyType"
                                                           checked="checked">
                                                {% else %}
                                                    <input type="radio" id="is_root" value=true name="keyType">
                                                {% endif %}
                                            {% else %}
                                                {% if data.is_root %}
                                                    <input type="radio" id="is_root" value=true name="keyType"
                                                           checked="checked" disabled>
                                                {% else %}
                                                    <input type="radio" id="is_root" value=true name="keyType" disabled>
                                                {% endif %}
                                            {% endif %}
                                            <label for="is_root"> root </label>
                                        </div>
                                        <div class="radio radio-success radio-inline">
                                            {% if data.recommit %}
                                                {% if data.is_root %}
                                                    <input type="radio" id="is_normal" value=false name="keyType">
                                                {% else %}
                                                    <input type="radio" id="is_normal" value=false name="keyType"
                                                           checked="checked">
                                                {% endif %}
                                            {% else %}
                                                {% if data.is_root %}
                                                    <input type="radio" id="is_normal" value=false name="keyType"
                                                           disabled>
                                                {% else %}
                                                    <input type="radio" id="is_normal" value=false name="keyType"
                                                           checked="checked" disabled>
                                                {% endif %}
                                            {% endif %}
                                            <label for="is_normal"> 普通 </label>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label>时效性</label>
                                        <div class="radio radio-danger radio-inline">
                                            {% if data.recommit %}
                                                {% if data.temporary %}
                                                    <input type="radio" id="permanent" value=false name="timeliness">
                                                {% else %}
                                                    <input type="radio" id="permanent" value=false name="timeliness"
                                                           checked="checked">
                                                {% endif %}
                                            {% else %}
                                                {% if data.temporary %}
                                                    <input type="radio" id="permanent" value=false name="timeliness"
                                                           disabled>
                                                {% else %}
                                                    <input type="radio" id="permanent" value=false name="timeliness"
                                                           checked="checked" disabled>
                                                {% endif %}
                                            {% endif %}
                                            <label for="permanent">永久</label>
                                        </div>
                                        <div class="radio radio-success radio-inline">
                                            {% if data.recommit %}
                                                {% if data.temporary %}
                                                    <input type="radio" id="temporary" value=true name="timeliness"
                                                           checked="checked">
                                                {% else %}
                                                    <input type="radio" id="temporary" value=true name="timeliness">
                                                {% endif %}
                                            {% else %}
                                                {% if data.temporary %}
                                                    <input type="radio" id="temporary" value=true name="timeliness"
                                                           checked="checked" disabled>
                                                {% else %}
                                                    <input type="radio" id="temporary" value=true name="timeliness"
                                                           disabled>
                                                {% endif %}
                                            {% endif %}
                                            <label for="temporary">临时</label>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label>分组</label>
                                        <div>
                                            <input class="form-control" id="group" readonly
                                                   value={{ data.group }}></input>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <div class="col-sm-4">
                                            <label>起止时间(以北京时间为准)</label>
                                        </div>
                                        <div class="col-sm-4">
                                            {% if data.recommit %}
                                                <input class="flatpickr flatpickr-input" type="text"
                                                       placeholder="选择开始时间" data-time="{{ data.start_time }}"
                                                       id="start_time" readonly="readonly">
                                            {% else %}
                                                <input class="flatpickr flatpickr-input" type="text"
                                                       placeholder="选择开始时间" data-time="{{ data.start_time }}"
                                                       id="start_time" disabled>
                                            {% endif %}
                                        </div>
                                        <div class="col-sm-4">
                                            {% if data.recommit %}
                                                <input class="flatpickr flatpickr-input" type="text"
                                                       placeholder="选择结束时间" data-time="{{ data.end_time }}"
                                                       id="end_time" readonly="readonly">
                                            {% else %}
                                                <input class="flatpickr flatpickr-input" type="text"
                                                       placeholder="选择结束时间" data-time="{{ data.end_time }}"
                                                       id="end_time" disabled>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="form-group" style="display: none;">
                                        <label>机房的全部IP</label>
                                        <div>
                                            <input class="form-control" id="room" readonly
                                                   value={{ data.room_name }}></input>
                                        </div>
                                    </div>


                                    {% for t in data.ips %}
                                        <div class="form-group">
                                            <div>
                                                <input class="form-control" readonly value={{ t.ip }}></input>
                                            </div>
                                            {% if data.recommit %}
                                                <button class="btn btn-danger btn-sm myRemove" type="button">x</button>
                                            {% endif %}
                                        </div>
                                    {% endfor %}

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <i class="fa fas fa-mail-reply-all fa-fw"></i> 审批操作
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-10">
                                <form role="form">
                                    <div class="form-group" id="ystep1">
                                        <label class="col-sm-12">审核流程步骤</label>
                                        <div>
                                            <div class="ystep1"></div>
                                        </div>
                                    </div>

                                    {% if data.opinion %}
                                        <div class="form-group">
                                            <label>审批意见</label>
                                            <div>
                                                <textarea class="form-control" rows="3" id="opinion"
                                                          readonly="readonly">{{ data.opinion }}</textarea>
                                            </div>
                                        </div>
                                    {% endif %}

                                    <div class="form-group" id='append_before'>
                                        <div>
                                            {% if data.recommit %}
                                                <button type="button" class="btn btn-primary" id='bt-commit'>提交</button>
                                            {% endif %}
                                            {% if data.can_execute %}
                                                <button type="button" class="btn btn-success" id='bt-load'>执行</button>
                                            {% endif %}
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="modal fade" id="myModal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="myModalLabel">执行中...请勿关闭或者刷新页面</h4>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal" role="form">
                            {% if data.can_execute %}
                                {% if not data.has_approved %}
                                    <div class="form-group" id='load' style="display: none;">
                                        <label class="col-sm-12"></label>
                                        <div class="col-sm-12">
                                            <div class="ball"></div>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endif %}
                            <div class="form-group" id='show-msg'>
                                <label class="col-sm-3 control-label"></label>
                                <div class="col-sm-8">
                                    <p id='load-msg'></p>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer" id="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div>
    </div>
{% endblock %}
{% block bodyjs %}
    <script src="/static/js/ser_perm_myworkflow.js?v=aed25423b9115132cbda315e72563c399aa32ed4"></script>
    <script src="/static/js/ystep.js"></script>
    <script src="/static/js/flatpickr.js"></script>
    <script src="/static/js/zh.js"></script>
    <script src="/static/js/ystep.js"></script>
{% endblock %}
{% block css %}
    <link href="/static/css/ystep.css" rel="stylesheet" type="text/css">
    <link href="/static/css/awesome-bootstrap-checkbox.css" rel="stylesheet" type="text/css">
    <link href="/static/css/flatpickr.css" rel="stylesheet" type="text/css">
    <link href="/static/css/ystep.css" rel="stylesheet" type="text/css">
    <link href="/static/css/load.css" rel="stylesheet" type="text/css">
{% endblock %}
