<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>有疑问请联系运维网络组!</title>
    <base target="_blank">
    <style type="text/css">
        p {
            font-size: 18px
        }
    </style>
</head>
<body>
<h3 class="share_text">温馨提示:</h3>
<p align="center" class="share_text">cmdb账号:(<span id="share_first_name"></span>(或者 <span id="share_username"></span>)) 密码:redhat(首次登录后会提示强制修改)</p>
<p align="center" class="share_text">企业QQ:<span id="share_ent_qq"></span> 密码:Ylhy@20181211(首次登录后会提示强制修改密码)</p>
<p align="center" class="share_text">企业邮箱账号:<span id="share_email"></span> 密码:Ylhy@20181211(首次登录后会提示强制修改密码)</p>
<p align="center" class="share_text">其中公司WiFi:Cy-public 账号密码已经发送到你的企业邮箱</p>
<p align="center" class="share_text">当前cmdb系统支持修改企业QQ密码、企业邮箱密码、SVN密码</p>
<p align="center" class="share_text">如有疑问请联系运维网络组!!!</p>
<p align="center-left" class="share_text">1.进入cmdb原力互娱运维管理系统:<a href="https://cmdb.cy666.com/user_login/">https://cmdb.cy666.com/user_login/</a></p>
<p align="center-left" class="share_text">2.电脑故障申报以及办公电脑和配件申请的方法:<a href="http://192.168.100.100:8090/pages/viewpage.action?pageId=65670">http://192.168.100.100:8090/pages/viewpage.action?pageId=65670</a></p>
<p align="center-left" class="share_text">3.企业邮箱登录网址:<a href="https://exmail.qq.com/cgi-bin/loginpage">https://exmail.qq.com/cgi-bin/loginpage</a></p>
<p align="center-left" class="share_text">4.修改企业QQ密码、企业邮箱密码、SVN密码:<a href="http://192.168.100.100:8090/pages/viewpage.action?pageId=65704">http://192.168.100.100:8090/pages/viewpage.action?pageId=65704</a></p>
</body>
</html>