.alert {
	padding: 6px;
}

/*.wizard>.content{
	display: block;
	min-height: 35em;
	overflow-y: auto;
	position: relative
}*/

/*.wizard > .content > .body input {
	display: block;
	border: 0px;
}*/



/*.wizard > .content > .body ul > li {

}*/

/*#title {
	color: red;
}*/